@import "tailwindcss";

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('/font/ApfelGrotezk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url('/font/EuclidCircular-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Euclid Circular', sans-serif;
}

